@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

a{
  text-decoration: none;
  color: #ccc;
}

.head{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

body {
    font-family: 'PT Sans ', sans-serif;
    background-color: #252529;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    line-height: 1.6;
  }

  .logo img{
    float: left;
    width: 1.2cm;
    margin-left:10px ;
  }

.wrapper{
    position: flex;
    top: 20%;
    margin-bottom: 15rem;
    /* transform: translateY(-50%); */
    width: 100%;
    padding: 0 20px;
    /* z-index: -99; */
}

.preform{
    max-width: 350px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px #eb3752;
}

.input-fields{
    align-items: center;
    display: inline-block;
    width: 100%;
}

.input-fields .input{
    margin: 20px 0;
    text-align: center;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #292929;
    padding: 10px;
    color: #333333;
    width: 100%;
}

.tnc{
    color: slategrey;
}

input[type=submit] {
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: center;
  }
/* Showcase */
#showcase{
    position: relative;
    overflow-y: hidden;
}

#showcase .container{
  margin-top: 15vh;
}

/* Utility */


.lead{
  font-size: 1.3rem;
}

.mb{
  margin-bottom: 1rem;
}

.mt{
  margin-top: 1rem;
}

.btn{
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary{
  background: var(--primary-color);
}

.btn-primary:hover{
  background: var(--primary-color-hover);
}

/* text colors */
.text-primary{
  color: var(--primary-color);
}
/* footer */
.page-footer{
  background-color: var(--primary-color);
  margin-top: 0rem;
  align-items: center;
  text-align: center;
}

.footer-copyright{
  padding: 1em;
}

/* nav */
  nav {
    height: 45px;
    width: 100%;
    background-color: #333;
    background-blend-mode: screen;
    color: #eee;
    position: fixed;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }


  @media (max-width: 480px){
    .head{
        text-align: center;
        margin-top: -285px;
    }
      
}

  @media screen and (max-width: 580px) {

    .hide-on-small{
      display: none;
    }

    #showcase{
      height: 50vh;
    }

    #showcase .container{
      margin-top: 15vh;
    }

    #showcase h1{
      font-size: 3rem;
    }

    #showcase h2{
      font-size: 1.5rem;
    }
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }

  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }

  * {box-sizing:border-box}


